.left {
  float: left;
  width: 20%;
}
.right {
  float: right;
  width: 80%;
}
.map {
  fill:lightgrey;
  stroke:black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.hotel {
  r: 5px;
  fill: red;
}
.us-map {
  border: 1px solid black;
}
.bubble-chart {
  width: 700px;
  height:500px;
}
