.left-pane {
  float: left;
  width: 20%;
}
.right {
  float: right;
  width: 80%;
}
.map {
  fill:lightgrey;
  stroke:black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.hotel {
  r: 5px;
  fill: red;
}
.us-map {
  border: 1px solid black;
}
.bubble-chart {
  width: 700px;
  height:500px;
}
.pentagon {
  width: 350px;
  height: 343px;
  border: 2px solid red;
  background-image: url("../../assets/images/pentagon.png");
  position: relative;
  margin: 1.75em auto 0;
}
.pentagon a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
}
.pentagon img { display: block; width: 100%; }
.right {  transform: rotate(-12deg) translate(8.75em) rotate(12deg); } /* 12em = half the width of the wrapper */
.bottom-right { transform: rotate(57deg) translate(9.8em) rotate(-56deg); }
.bottom-left { transform: rotate(122deg) translate(9.5em) rotate(-122deg); }
.left {  transform: rotate(192deg) translate(8.5em) rotate(-192deg); }
.top { transform: rotate(270deg) translate(8em) rotate(-270deg); }

a {
  text-decoration: underline;
  cursor: pointer;
}
