/* You can add global styles to this file, and also import other style files */
@import '../node_modules/material-icons/css/material-icons.min.css';

.map {
  stroke:black;
}

.p-dialog {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  position: relative;
  transform: scale(1);
  background-color: lightgrey;
  width: 500px;
}
.p-dialog-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: darkgrey;
  color: white;
}
